<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
          <h1 class="display-4">Julian Miguel Alapan - <%= title %><</h1>
          <img src="COMP125-M2020-Assignment_3/Assets/images/currentPicture.jpg" alt="currentPic">
          <p>Welcome to <%= title %></p>
          <p id="firstParagraph"></p>
          <br>
          <p id="secondParagraph"></p>
      </div>
    </div>

    

    

    <!-- JavaScript Section -->
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./Scripts/app.js"></script>
  </body>
</html>
