<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>
  

    <main class="container">
            <h1 class="display-4">Projects</h1>
            <div>
                <table id="firstWebsite">
                    <img src="/Assets/images/firstWebsite.png" alt="firstWebsitePicture">
                    <a href="http://studentweb.cencol.ca/jalapan1/">First Website</a>
                </table>
                <table id="slotMachine">
                    <img src="/Assets/images/SlotMachine.png" alt="slotMachinePicture" height="300" width="500">
                    <a href="https://julianmiguelalapan.github.io/COMP125-M2020-Assignment4/">Slot Machine</a>
                </table>
                <table id="diceMachine">
                    <img src="/Assets/images/Dice.png" alt="DiceMachinePicture" height="300" width="500">
                    <a href="https://julianmiguelalapan.github.io/COMP125-M2020-FInalTest/">Dice Machine</a>
                </table>
            </div>

    </main>

<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>