<%- include('./partials/header.ejs') -%>
<%- include('./partials/mainnav.ejs') -%>
  

    <main class="container">
            <h1 class="display-4">Projects</h1>
            <div>
                <table id="videogames">
                    <img src="COMP125-M2020-Assignment_3/Assets/images/videogame.jpg" alt="videogamesPicture">
                    Playing Videogames!
        
                </table>
                <table id="website">
                    <img src="COMP125-M2020-Assignment_3/Assets/images/website.png" alt="websitePicture">
                    <a href="http://studentweb.cencol.ca/jalapan1/">Creating Website</a>
                </table>
                <table id="relaxing">
                    <img src="COMP125-M2020-Assignment_3/Assets/images/relaxing.jpg" alt="">
                    Relaxing
                </table>
            </div>

    </main>

<%- include('./partials/bottomnav.ejs') -%>
<%- include('./partials/footer.ejs') -%>